<h1>Owner Details</h1> 
  <h4>Property status :   <%= @post.property_status %></h4>
  <p><strong>Owner Name : </strong><%= @post.owner_name %></p>
  <p>Location : <%= @post.location %></p>
  <p>Price : <%= @post.price %></p>
  <p>Size : <%= @post.size %></p>
  <p>Description : <%= @post.description %></p>
  <%if @post.images.attached? %>
    <% @post.images.each do |multiimages| %>
      <%= image_tag(multiimages,  :size => "260x180")  %>
    <%end%><br>

  <%end%>
  <% if @post.user_id == current_user.id || current_user.role == "admin" %>
    <p>Email id : <%= @post.email %></p>
    <p>Phone number : <%= @post.phone %></p>
  <% end %>
  <% if @post.user_id == current_user.id || current_user.role == "admin" %>
    <ul>
      <li><%= link_to "Edit", edit_post_path(@post) %></li>
        <li>
          <%= button_to "Destroy Post", post_path(@post), method: :delete %>
        </li>
    </ul>
  <% end %>
<h1>Post Creater </h1> 
<p>Creater Name : <%= @post.user.first_name %> <%= @post.user.last_name %> </p>
